html {
    min-height: 100%;
    font-family: sans-serif;
    color: white;
    background: #1dacd6;
    background: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255,255,255,.07) 10px, rgba(255,255,255,.07) 11px),
                repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255,255,255,.13) 10px, rgba(255,255,255,.13) 11px) #1dacd6;
}

body {
    margin: 8px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2em;
    padding: 0 8px;
    font-size: 2em;
    line-height: 1.75em;
    text-align: center;
    white-space: nowrap;
    background: rgba(29, 172, 214, .9);
}

input {
    width: calc(100vw - 9.5em - 16px);
    max-width: 246px;
}

input, select {
    box-sizing: content-box;
    height: 1.33em;
    padding: .1667em .3333em;
    font-size: .75em;
    color: white;
    background: transparent;
}

select {
    width: 6.375em;
}

option {
    color: black;
    background: white;
}

input, .search, select, i {
    vertical-align: middle;
}

.search {
    width: .93em;
    font-size: .75em;
    margin-left: calc(-1.5966em - 1px);
    margin-right: .3633em;
    cursor: pointer;
}

h2 {
    margin: 0;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

ol {
    margin-top: 4em;
    padding-left: 0;
    -moz-column-gap: 1em;
    -moz-column-width: 20em;
    column-gap: 1em;
    column-width: 20em;
}

ol li {
    display: inline-block;
    list-style-type: none;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: .5em;
    padding: 1em;
}

input, select, ol li[tabindex] {
    border: 1px solid transparent;
    border-radius: 2px;
}

ol li:focus {
    outline: none;
}

input, select, ol li:hover, ol li:active, ol li:focus {
   border-color: rgba(255, 255, 255, .4);
}

input:focus, select:focus {
    border-color: white;
    outline: none;
}

.sort-asc, .sort-desc {
    width: .5625em;
    color: rgba(255, 255, 255, .4);
    cursor: pointer;
}

.sort-asc.active, .sort-desc.active {
    color: white;
}

.sort-desc {
    margin-left: -.84em;
}

h3 {
    height: 2.35em;
    overflow: hidden;
    margin: 0;
    line-height: 1.175em;
}

ol li span {
    color: rgba(255, 255, 255, .9);
}

ol li span:first-of-type {
    float: right;
    margin-left: 2em;
}

ol li.selected {
    color: black;
    background-color: rgba(255, 255, 255, .4);
}

ol li.selected span {
    color: rgba(0, 0, 0, .7);
}

ul {
    list-style-type:none;
    margin: 50vh auto 0;
    transform: translateY(-50%);
    width: 50%;
    padding: 0;
}

ul li {
    position: relative;
    height: 1.5em;
    margin: .5em 0;
    line-height: 1.5em;
    background: white;
    border-radius: 2px;
    transition-duration: 1s;
}

ul li span:first-child {
    position: absolute;
    right: 100%;
    margin-right: 1em;
    white-space: nowrap;
}

ul li span:last-child {
    position: absolute;
    right: .325em;
    color: rgba(0, 0, 0, .75);
}

div.r404, div.r500 {
    visibility: visible;
    position: relative;
    width: 600px;
    height: auto;
    overflow: visible;
    margin: 0 auto;
    background: transparent;
    border: none;
}

div.r404 > *, div.r500 > * {
    position: relative;
    z-index: 1;
}

div.r404:before, div.r404:after, div.r404 h1:before, div.r404 h1:after,
div.r500:before, div.r500:after {
    content: "";
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.r404:before {
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border: 20px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
}

div.r404:after {
    content: "N";
    width: 350px;
    height: 350px;
    margin-top: -175px;
    margin-left: -175px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, .4);
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    transform: rotate(-160deg);
}

.r404 h1:before {
    margin-top: -160px;
    margin-left: -25px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 160px solid rgba(255, 255, 255, .4);
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    transform: rotate(140deg);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.r404 h1:after {
    margin-top: -160px;
    margin-left: -25px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 160px solid rgba(255, 255, 255, .5);
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    transform: rotate(-40deg);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.r500:before {
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border: 20px solid rgba(255, 255, 255, .4);
    border-radius: 7%;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    transform: rotate(-35deg);
}

div.r500:after {
    content: "!";
    width: 350px;
    height: 350px;
    margin-top: -175px;
    margin-left: -175px;
    font-size: 300px;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, .4);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
}
