#{extends 'main.html' /}
#{set title:'Voting' /}
        <header>
            <input type="text">
            <i class="search fa fa-search"></i>
            <select>
                <option value="alphabetical">Alphabetical</option>
                <option value="length">Length</option>
                <option value="category">Category</option>
            </select>
            <i class="sort-asc active fa fa-sort-asc"></i>
            <i class="sort-desc fa fa-sort-desc"></i>
        </header>
        <ol>
        #{list items:movies, as:'movie'}    <li tabindex="0" data-id="${movie.id}">
                <h3>${movie.title}</h3>
                <span>#{list items:movie.categories, as:'category'}${category}#{ifnot category_isLast}, #{/}#{/}</span> <span>${movie.runTime}</span>
            </li>
        #{/}</ol>
